.git
.github
**/.git

node_modules
**/node_modules
**/dist
**/dev-dist
**/target
**/build

cli
sidecar
apps/desktop/src-tauri
bin

**/.env
**/.env.*
!**/.env.example
*.pem
wckd.yaml
.wckd
.playwright-mcp
